@model decimal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <div>
        The result is <strong> @Model.ToString("n2")  </strong>
    </div>
</body>
</html>
